:root {
    --text-color: hsl(0, 0%, 0%);
    --focus-color: hsl(0, 0%, 88%);
    --hover-color: hsl(0, 0%, 93%);
    --bg-color: hsl(0, 0%, 100%);
}

.dark-mode {
    * {
        color: white;
    }
    --bg-color: hsl(0, 0%, 14%);
    --focus-color: hsl(0, 2%, 20%);
    --hover-color: hsl(0, 0%, 30%);
}